footer {
    background: #c3bef0;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: #6d42c7;
    color: ghostwhite;
    padding: 0.5rem;
    border-radius: 0.7rem;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    border: 2px solid;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: #6d42c7;
}  

/**************Media For Small Device****************************/

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer__socials {
        margin-bottom: 2.6rem;
    }
}